{% extends "home/base.html" %}

{# Note: Alina your styles are placed in base.html, I extended this product_list template to get the navigation on product list page aswell #}

{% block template %}
    <div class="container">
        <h2 class="mt-5">Product List</h2>
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                <div class="text-success border border-success">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}

            {% for product in products %}
                <div class="col-sm-6 col-md-4 ">
                    <div class="product-card text-center">
                        <img src="{{ product.image.url }}" alt="Product Title">
                        <h3 class="mt-2">{{ product.title }}</h3>
                        <p>{{ product.description }}</p>
                        <p class="fw-bold">Price: ${{ product.price }}</p>
                        {% include "cart_add.html" with product_id=product.id %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
