{% extends "home/base.html" %}

    {% block template %}
    <section class="container">
        <h2>Cart</h2>
        <p>Hi <strong>{{ cart.user.username }}</strong> ({{ cart.user.email }})!</p>
        <p>These are the products in your cart:</p>
        <ol class="list-group list-group-numbered">
            {% for item in cart_item_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <img src="{{ item.product.image.url }}" class="ms-4" width="100px" alt="{{ item.product.alt }}"> {# alt field doesn't exist yet #}
                <div class="ms-4 me-auto">
                    <div class="fw-bold">{{ item.product.title }}</div>
                    ${{ item.product.price }}
                </div>
                <div class="row">
                    <div class="col-6">
                        {# TODO all of this needs to be a form #}
                        <form action="">
                            <input type="number" value="{{ item.quantity }}">
                        </form>
                    </div>
                    <div class="col-3">
                        <div><strong>Total:</strong> ${{ item.total_price }}</div>
                    </div>
                    <div class="col-3">
                        <button>Remove</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ol>
        {# TODO Add carts total price. Calculate here by cart_item_list #}
    </section>
    {% endblock %}
</body>
</html>